body{
    display: flex;
    background-image: linear-gradient(rgb(189, 136, 146),rgb(66, 89, 95));
    background-attachment: fixed;
    color: wheat;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

div{
    padding: 0px;
    margin: 0px;
    background-color: antiquewhite;
}

#container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70vh;
    max-width: 80%;

    border-color: rgba(210, 73, 223, 0.822);
    border-style: solid;
    border-width: 1px;
}

.row{
    flex:auto;
    display: flex;
    height:100%;
    
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

.column
{
    display: flex;
    flex:1;


    border-color: rgb(153, 74, 74);
    border-style: solid;
    border-width: 1px;

    
    
}